.wrapper-auth {
  background-color: var(--background-body);
  height: 100vh;
  overflow: hidden;
}
.auth-form {
  // margin-top: 400px;
  margin: 200px auto 0px;
  min-height: 300px;
  width: 800px;
}
