.modal {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(13, 13, 13, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-container {
  padding: 20px;
  width: 700px;
  margin: auto auto;
  background-color: #3a8bdb;
}
.modal-header {
  font-size: 32px;
  font-weight: bold;
  text-align: left;
}
.modal-body {
  margin-bottom: 20px;
  margin-top: 20px;
}
.modal-footer {
  display: flex;
  justify-content: flex-end;
}
