.input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 0%;
  border: 2px solid var(--input-border);
  color: var(--input-focus);
  background-color: transparent;

  &:focus {
    text-decoration: none;
    border: 2px solid var(--input-focus);
    color: var(--input-focus);
    outline: none;
  }
  &::placeholder {
    color: var(--input-focus);
  }
}
